{% block sidebar %}
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam asperiores hic tempore non illum eos
                corporis? Sunt quia earum obcaecati quod illum, beatae nostrum cum iste, iure quae, eveniet consequatur.
            </p>
            <a href="#" class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>
{% endblock sidebar %}